<br>
<br>
<div class="d-flex justify-content-center">
  <h1> Módulo de Clientes </h1>
</div>
<br>
<br>
<div class="d-flex justify-content-end">
  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="add()">
    Agregar Registro
  </button>
  &nbsp;&nbsp;&nbsp;
</div>
<br>
<br>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cod</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Edad</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items; let idx = index">
      <tr>
        <th scope="row"> {{ idx + 1 }} </th>
        <td> {{ item.cod }} </td>
        <td> {{ item.name }} </td>
        <td> {{ item.address }} </td>
        <td> {{ item.age }} </td>
        <td> {{ item.creationDate | date:'medium'  }} </td>
        <td>
          <img src="assets/image/detail.svg" style="width: 30px; height: 30px; cursor: pointer;" (click)="detail(item)">
          <img src="assets/image/edit.png" style="width: 30px; height: 30px; cursor: pointer;" (click)="edit(item)">
          <img src="assets/image/delete.png" style="width: 30px; height: 30px; cursor: pointer;" (click)="delete(item)">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-customer *ngIf="open" [open]="open" [typeEdition]="typeEdition" [data]="item" (_cancel)="open = false"
  (success)="successModal($event)"></app-modal-customer>