<br>
<br>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
    <br>
    <br>
    <div class="d-flex  justify-content-center align-items-center">
      <div class="d-flex flex-row">
        <div class="align-self-center separator-line"></div>
        <div class="p-2 title-separator">MÓDULO DE PERFILES</div>
        <div class="align-self-center separator-line"></div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-primary my-2 my-sm-0" (click)="add()">
          Agregar Registro
        </button>
        &nbsp;&nbsp;&nbsp;
      </div>
      <br>
      <br>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cod</th>
              <th scope="col">Perfil</th>
              <th scope="col">Descripción</th>
              <th scope="col">Fecha de Registro</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of items; let idx = index">
            <tr>
              <th scope="row"> {{ idx + 1 }} </th>
              <td> {{ item.cod }} </td>
              <td> {{ item.name }} </td>
              <td> {{ item.description }} </td>
              <td> {{ item.creationDate | date:'medium'  }} </td>
              <td>
                <img src="assets/image/detail.svg" style="width: 30px; height: 30px; cursor: pointer;"
                  (click)="detail(item)">
                <img src="assets/image/edit.png" style="width: 30px; height: 30px; cursor: pointer;"
                  (click)="edit(item)">
                <img src="assets/image/delete.png" style="width: 30px; height: 30px; cursor: pointer;"
                  (click)="delete(item)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-modal-profile *ngIf="open" [open]="open" [typeEdition]="typeEdition" [data]="item" (_cancel)="open = false"
  (success)="successModal($event)"></app-modal-profile>