<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" [routerLink]="['/home']">
    <img src="assets/image/logo-cemaco.png" style="height: 75px; cursor: pointer;">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="d-flex justify-content-end">
      <div class="title">
        Suscribete
      </div>
      &nbsp;&nbsp;
      <div class="title">
        Tiendas
      </div>
      &nbsp;&nbsp;
      <div class="title" [routerLink]="['/contact-us']">
        Contáctanos
      </div>
      &nbsp;&nbsp;
      <div>
        <input type="text" class="input-search">
        <span></span>
      </div>
      &nbsp;&nbsp;
    </div>
  </div>
</div>