<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/dashboard']">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/cards']">Tarjetas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/stores']">Tiendas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/transactions']">Transacciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/customers']">Clientes</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/employees']">Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/profile']">Perfiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/departament']">Departamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/contact-us']">Correos Recibidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/users']">Usuarios</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="logout()">Cerrar Sesión</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>