<br>
<br>
<div class="d-flex justify-content-center">
  <h1> Módulo de Tarjetas </h1>
</div>
<br>
<br>
<div class="d-flex justify-content-end">
  <button class="btn btn-outline-primary my-2 my-sm-0" (click)="add()">
    Agregar Registro
  </button>
  &nbsp;&nbsp;&nbsp;
</div>
<br>
<br>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cod</th>
        <th scope="col">Cliente</th>
        <th scope="col">Monto</th>
        <th scope="col">Saldo</th>
        <th scope="col">Vigencia</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items; let idx = index">
      <tr>
        <th scope="row"> {{ idx + 1 }} </th>
        <td> {{ item.cod }} </td>
        <td> {{ item.customer.name }} </td>
        <td> {{ item.rode }} </td>
        <td> {{ item.balance }} </td>
        <td> {{ item.validity | date:'medium' }} </td>
        <td>
          <img src="assets/image/detail.svg" style="width: 30px; height: 30px; cursor: pointer;" (click)="detail(item)">
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal-card *ngIf="open" [open]="open" [typeEdition]="typeEdition" [data]="item" (_cancel)="open = false"
  (success)="successModal($event)"></app-modal-card>