.item {
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-family: verdana;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#carouselSlides {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-blend-mode: multiply;
    background-image: linear-gradient(to bottom, #50535a, #50535a);
    border-radius: 0px 0px 980px 980px / 0px 0px 150px 150px;
    padding: 0px;
    width: 100%;
}

.carrusel-image {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 980px 980px / 0px 0px 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 312px;
    width: 100%;
}

.carousel-control-next-icon {
    width: 32px;
    height: 32px;
}

.carousel-control-prev-icon {
    width: 32px;
    height: 32px;
}

.carousel-indicators li.active {
    width: 8px;
    height: 8px;
    margin-right: 16px;
    background-color: transparent;

}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin-right: 16px;
    background-color: transparent;

}

.section-title {
    font-family: verdana;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 8px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 1px;
}

.banner-title {
    font-family: verdana;
    font-size: 65px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-bottom: 15px;
}

.carousel-indicators {
    z-index: 1;
}

.btn-success{
    margin-top: 25px;
    background-color: #BFFF00;
    border-style: none;
    font-family: verdana;
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #ffffff;
    height: 50px;
    margin-bottom: 15px;
}